/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}

.flex-container {
    display: flex;
}

.aligned-items {
    align-items: center;
}

/* HEADER */
/* HEADER-TOP */

.header-top {
    height: 5rem;
    background-color: #255ee9;
    display: flex;
    color: white;
    font-size: 1.2em;
}

.header-links{
    flex-grow: 1;
}

.header-links ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.header-login {
    text-align: right;
}

.circle {
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 10px;
}

a {
    color: inherit;
}

/* HEADER */
/* HERO */

.hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    padding: 7rem 0;
}

.hero-content {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
}

h1 {
    padding: 2rem;
    font-size: 2em;
}

.hero-text {
    margin: 1rem;
}

.hero-link {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}


.mac {
    border: 1px solid white;
    border-radius: 30px;
    background-color: white;
    color: black;
    padding: 15px;
}

.browser {
    border: 1px solid #23272a;
    border-radius: 30px;
    background-color: #23272a;
    color: white;
    padding: 15px;
}

/* MAIN */

.main-section {
    padding: 2rem 0;
}

.row {
    display: flex;
}

.large-column {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-column {
    width: 40%;
    padding: 2rem 0;
}

h2 {
    font-size: 3em;
    text-align: left;
}

.column-text {
    font-size: 1.2em;
    text-align: left;
    margin-top: 2rem;
}

.grey-section {
    background-color: #f6f6f6;
}

.square {
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.square-text {
    font-size: 1.2em;
}


h4 {
    font-size: 1.5em;
}

.adventure {
    display: flex;
    justify-content: center;
}

.mac-2 {
    border: 1px solid #7289da;
    border-radius: 30px;
    background-color: #7289da;
    color: white;
    padding: 15px;
    margin: 1rem 0;
    width: 20%;
}

/* FOOTER */
/* Footer-top */

footer {
    background-color: #23272a;
}

.footer-top {
    padding: 2rem 0;
    border-bottom: 1px solid #7289da;
    
}

.main-column {
    width: 30%;
    padding: 2rem;
}

h3{
    color: #7289da;
    font-size: 1.5em;
}

.language {
    padding: .7rem 0;
    color: white;
}

.flag {
    max-width: 24px;
}

.social {
    color: white;
    font-size: 1.2rem;
    margin-right: 0.7rem;
}

.many-columns {
    width: 70%;
    padding: 1rem 0;
    display: flex;
}

.footer-column {
    width: calc(100% / 4);
    padding: 1rem 0;
}

h5 {
    color: #7289da;
    font-size: 1em;
}

.footer-links li {
    list-style-type: none;
    color: white;
    margin-top: 1rem; 
}

.footer-bottom {
    padding: 2rem 0;
}

.footer-bottom .container {
    padding: 2rem 0;
    justify-content: space-between;
}


.register {
    text-align: right;
    border: 1px solid #7289da;
    border-radius: 20px;
    background-color: #7289da;
    color: white;
    padding: 10px;
}














